@import './colors.scss';

.card {
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;

    img {
        max-width: 10rem;
        height: 10rem;
    }

    a {
        text-decoration: none;
        color: $indigo;
    }
}